#logo02{
    width: 6%;
      height: 8%;
      margin-top: 20px;
      margin-left: 30px;
      
    }
   .row h1{
    font-size: 60px;
    margin-top: 30px;
    font-weight: 500;
  
    margin-left: 20px;
   }
   .row{
    margin-top: 50px;
   }
 
   
  .exam{
    margin-top: 50px;
  }
  .button1{
    text-align: center;
  }